<!DOCTYPE html>
<html>
<head>
    <title>Image to PDF</title>
</head>
<body>
    <h1>Upload an Image</h1>
    <form ref='uploadForm' 
      id='uploadForm' 
      action='/img-to-pdf' 
      method='post' 
      encType="multipart/form-data">
        <input type="file" name="sampleFile" />
        <input type='submit' value='Upload!' />
    </form>     
</body>
</html>
