<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tech tools</title>
    <meta name="description"
        content="screen test is a website that provides information and solutions for fixing black screen errors on your computer.">

</head>
<body>
    <button onclick="location.href='/black-screen'">Black Screen</button>
    <button onclick="location.href='/white-screen'">White Screen</button>
    <button onclick="location.href='/test-screen'">RGB Test Screen</button>
</body>
</html>